In [ ]:
import pandas as pd

In [ ]:
pd.read_csv("slashdot.txt")

          0\t1\t1
0         0\t2\t1
1         0\t3\t1
2         0\t4\t1
3         0\t5\t1
4         0\t6\t1
...           ...
7802  957\t162\t1
7803  957\t494\t1
7804  957\t558\t1
7805  957\t630\t1
7806  957\t922\t1

[7807 rows x 1 columns]

In [ ]:
df = df.groupby(['Name'])['Value'].apply(list).reset_index()

               Name                                             Value
0           5S_rRNA  [0.0, 0.2002, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
1         5_8S_rRNA                    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
2               7SK            [0.0, 0.1718, 0.0, 0.0, 0.0, 0.0, 0.0]
3              A1BG                                          [0.2441]
4          A1BG-AS1                                          [0.3899]
...             ...                                               ...
59422         ZZEF1                                          [3.5231]
59423          ZZZ3                                          [5.1705]
59424  hsa-mir-1253                                             [0.0]
59425   hsa-mir-423                                             [0.0]
59426       snoZ196                                             [0.0]

[59427 rows x 2 columns]

In [ ]:
df1=df.Value.apply(pd.Series)

In [ ]:
df2=df1.merge(df, right_index = True, left_index = True)

In [ ]:
df2.drop("Value", axis=1, inplace=True)

In [ ]:
df2.to_csv('BGM.csv')